:root {
  /* font-family: 'Dancing Script', cursive; */
  --font-weight-bold: 800;
  --font-weight-normal: normal;
  --font-weight-light: 100;
  --font-weight-medium: 400;
  --text-color: #717176;
  --text-color-dark: #5a5a5f;
  --text-nav-link: #e4f2fc;
  --white-color: #fff;
  --black-color: #000;
  --header-lg: #101357;
  --sub-header-lg: #101357;
  --source-code-font: "Source Code Pro", monospace;
  --subtext-font-size: 16px;
  --text-font-size: 14px;
  --text-font-size-lg: 28px;
  --hexagon-border-radius: 5px;
  --hexagox-border-size: 1px;
  --back-color: #283e69;
  --color-yellow: #f6e05e;
  --color-green: #37BC9B;
}

body {
  margin: 0;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #00243c;
  letter-spacing: 1px;
  line-height: 2;
  font-weight: 100;
}

main {
  margin: 0 10%;
}

.header-secondary {
  font-size: 1.2rem;
  font-weight: 600;
}

.sub-header {
  font-size: var(--subtext-font-size);
  font-weight: 400;;
}

.text-sm{
font-size: 10px;
}

.button{
  font-size: var(--text-font-size);
  padding: 10px 30px;
  /* background-color: var(--color-green); */
  /* border: 1px solid #e2e2e2; */
  color: #fff;
  font-weight: var(--font-weight-medium);
  /* border-radius: 20px; */
  text-decoration: none;
  position: relative;
  margin-right: 10px;
  width: 10%;
}

 a.button::before{
  content:"";
  position: absolute;
  border-top: 2px solid yellow;
    border-left: 2px solid yellow;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left:0;
    top: 0;
    transition: all 0.3s;
    border-radius: 20px;

}


a.button::after{
  content:"";
  position: absolute;
    border-right: 2px solid green;
    border-bottom: 2px solid green;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    transition: all 0.3s;
    border-radius: 20px;
}

a.button:hover:after,
a.button:hover:before{
  width: 10%;
  height: 20%;
  border-radius: 0;

}

.home {
  padding: 0 10%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: "header header" "main main";
  background-color: var(--back-color);
  font-weight: var(--vj-font-weight-bold);
}

.home header {
  color: var(--nav-link-color);
  font-size: var(--text-font-size);
  font-weight: 100;
  padding: 0.85rem 0;
  width: 100%;
  grid-area: header;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "a b b";
}

.home header .nav-list {
  list-style-type: none;
  margin: 0;
  grid-area: b;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .logo {
  grid-area: a;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

header .logo .logo-link::first-letter {
  color: var(--color-green);
}


header ul li {
  list-style-type: none;
  margin: 0 0.5rem;
}

header ul li a {
  color: var(--white-color);
  text-decoration: none;
}

header ul li a:hover {
  color: var(--color-yellow);
}

header .logo .logo-link {
  font-family: 'Dancing Script', cursive;
  font-size: 1rem;
  color: var(--color-yellow);
  font-weight: 700;
  position: absolute;
  width: 40px;
  height: 40px;
  margin-top: -4px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 5px;
}


header .logo .logo-link::after {
  content: "V";
  font-size: 60px;
  position: absolute;
  top: 0;
  opacity: 0.3;
  transform: translate(-20%, 0%);
}
.home .cover {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "c d";
}

.cover .cover-header .text.typed-text {
  text-decoration: underline;
  color: var(--color-yellow);
}

.home .cover .cover-header {
  grid-area: c;
  position: absolute;
  top: 40%;
}

.home .cover .media-content {
  z-index: 1;
  position: relative;
  grid-area: cover;
  text-align: center;
  grid-area: d;
}

.home .cover .media-content img {
  height: 450px;
  width: 450px;
}

.home .cover .cover-header .social-networks a {
  display: inline-block;
  text-align: center;
  color: var(--white-color);
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: var(--text-font-size);
  border-radius: 50%;
  border: 1px solid var(--white-color);
  z-index: 11;
  margin-right: 10px;
  background: var(--back-color);
}

.home .cover .cover-header .social-networks a:hover {
  background-color: var(--white-color);
  color: var(--back-color);
  transition: all 0.3s;
  transform: scale(1.3) rotate(360deg);
}
/*typed text css */

.cover .cover-header .text {
  position: relative;
  font-size: 2.2rem;;
  font-weight: var(--font-weight-bold);
}

.cover .cover-header .text.fixed-text {
  color: var(--white-color);
}

.cover .cover-header .text.typed-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--back-color);
  border-left: 2px solid var(--color-yellow);
  animation: animate 4s steps(12) infinite;
}

@keyframes animate {
  40%,
  60% {
    left: calc(100% + 4px);
  }
  100% {
    left: 0%;
  }
}

.home .cover .cover-buttons{
  margin-top: 10px;
}

/* About Section */

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80vh;
}

.about .abt-image {
  position: relative;
  padding: 10%;
}

.about .abt-image img {
  width: 210px;
  height: 320px;
  box-shadow: 0px 0px 84px 0px rgba(0, 0, 0, 0.3);
}

.about .abt-image::before {
  content: "";
  width: 210px;
  height: 320px;
  border: 20px solid var(--back-color);
  position: absolute;
  left: -20px;
  top: 15%;
  z-index: -1;
}

.about p.abt-descr {
  line-height: 2;
  text-align: justify;
  font-size: var(--text-font-size);
}

.heading {
  font-size: var(--text-font-size-lg);
  font-weight: var(--font-weight-bold);
  color: var(--header-lg);
  position: relative;
  display: inline-block;
}

.heading::after {
  content: "";
  width: 72%;
  position: absolute;
  border: 4px solid #f6e05e;
  bottom: 0;
  left: 0;
  border-radius: 34px;
  top: 100%;
  transform: rotate(172deg) translateX(-8px);
}
/* skills Section */

.skills {
  height: 100vh;
  display: grid;
  grid-template-areas: "heading heading" "col1 col2";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0fr 1fr;
}

.skills .col1 {
  grid-area: heading;
}

.skills .col2 {
  grid-area: col1;
}

.skills .col3 {
  grid-area: col2;
}

.skills .skill {
  margin-bottom: 25px;
  font-size: var(--text-font-size);
}

.skill .skill-header {
  display: inline-block;
}

.skill .skill-percentage {
  float: right;
}

.skill .skill-progressbar {
  padding-top: 1%;
}

.skill .skill-progressbar .progress {
  border: 1px solid;
  border-width: 3px;
  border-radius: 10px;
  position: relative;
}

.skill:nth-child(n+1) .skill-progressbar .progress {
  border-color: var(--color-yellow);
  }
  
 .skill:nth-child(2n+1) .skill-progressbar .progress {
border-color: var(--color-green);
}

.hex {
  width: 60px;
  height: 60px;
  position: relative;
  margin-left: 50px;
}

.hex1,
.hex2,
.hex3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 37px;
}

.hex img {
  position: absolute;
  width: 60px;
  height: 60px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  left: 0;
  top: 35%;
  z-index: 1;
}

.box1 {
  width: 62px;
  height: 98px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-width: var(--hexagox-border-size);
  border-bottom-width: var(--hexagox-border-size);
  border-color: var(--back-color);
  transform: rotate(90deg);
  position: absolute;
  border-radius: var(--hexagon-border-radius);
}

.box2 {
  width: 60px;
  height: 98px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-width: var(--hexagox-border-size);
  border-bottom-width: var(--hexagox-border-size);
  border-color: var(--back-color);
  transform: rotate(150deg);
  position: absolute;
  border-radius: var(--hexagon-border-radius);
}

.box3 {
  width: 60px;
  height: 98px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-width: var(--hexagox-border-size);
  border-bottom-width: var(--hexagox-border-size);
  border-color: var(--back-color);
  transform: rotate(29deg);
  position: absolute;
  border-radius: var(--hexagon-border-radius);
}

.hex:hover {
  transform: scale(1.11);
}

.hex:hover div{
  background-color: #f6e05e;
  border: 0;
}}
/*Experience*/

.experience {
  height: 100vh;
}

.experience ul {
  position: relative;
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.experience ul::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 2px;
  height: 95%;
  background-color: #e3e5e9;
}

.experience ul li {
  position: relative;
  display: block;
  padding-left: 30px;
  margin-bottom: 20px;
}

.experience ul li img {
  width: 60px;
  height: 60px;
}

.experience ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -13px;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border: 5px solid var(--color-green);
  border-radius: 50%;
  z-index: 2;
}

.experience .role-descr {
  font-size: var(--text-font-size);
  line-height: 1.7;
  text-align: justify;
  padding: 0.5rem 0.5rem 0.5rem 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.experience .role-descr .duration {
  padding-bottom: 1%;
  color: var(--color-green);
  font-weight: var(--font-weight-medium);
}
/* Education */

.education {
  height: 80vh;
}

.education .edu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 10%;
}

.education .edu-container .col-50 {
  flex: 0 0 auto;
  width: 50%;
  margin: 0 12px;
}

.education .edu-container .card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.education .edu-container .card .card-header {
  font-size: 16px;
  padding: 16px 32px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.education .edu-container .card .card-header .year{
color: var(--color-green);
}

.education .edu-container .card .card-header img {
  width: 60px;
  height: 60px;
}

.education .edu-container .card .card-overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: var(--back-color);
  overflow: hidden;
  width: 100%;
  height: 0;
  opacity: 0.9;
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.education .edu-container .card:hover .card-overlay {
  bottom: 0;
  height: 100%;
}

.education .edu-container .card .card-overlay a {
  text-decoration: none;
  color: var(--color-yellow);
  font-size: 1.4rem;
}
/*Contact*/

.contact {
  height: 100vh;
}

.contact .contact-details {
  display: flex;
  flex-direction: row;
}

.contact .contact-details .contact-form {
  padding: 0 5%;
  font-size: var(--text-font-size);
}

.contact .contact-details .my-location {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.contact .contact-details .contact-form .form-control {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.contact .contact-details .contact-form input,
.contact .contact-details .contact-form textarea {
  width: 70%;
  padding: 10px;
  border: 1px solid #e2e2e2;
  margin-left: 20px;
  background-color: #f8f9fa;
  font-size: 14px;
  line-height: 1.5;
}

.contact .contact-details .contact-form input:focus,
.contact .contact-details .contact-form textarea:focus {
  border: 2px solid #e2e2e2;
  background-color: var(--white-color);
}

.contact .contact-details .contact-form .detail {
  margin-bottom: 20px;
}

.contact .contact-details .contact-form .detail i {
  padding-right: 10px;
  color: var(--color-green);
}

.contact a.button{
  color: var(--header-lg)
}
/* footer */

footer {
  height: 30vh;
  background-color: #f4f6f8;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
}

footer h5 {
  margin: 0;
}

footer i {
  margin-right: 5px;
}

footer h2{
margin: 0;
}

footer a{
  color: var(--text-color);
  }

  footer a:hover{
    color: var(--color-green);
    }